$primary: #2C3E50;
$secondary: #18BC9C;

* {
	margin: 0;
	padding: 0;
}

footer {
	min-height: 100px;
}
main.content {
	min-height: calc(100vh - 171px);
	.error {
		width: 600px;
		margin: auto;
		h1 {
			font-size: 120px;
			color: $primary;
		}
		p {
			font-size: 18px;
			font-weight: bold;
			color: $secondary;
			margin: 0 auto;
		}
	}
}
.alert.response-feedback {
	transition: opacity 1s;
	position: absolute;
	width: 300px;
	min-height: 67px;
	top: 10px;
	right: 10px;
	z-index: 1;
	opacity: .9;
	font-size: 14px;
}

.bg-secondary {
	background-color: $secondary!important;
	color: white!important;
}

li.divider {
	border-left: 2px solid $secondary;
	margin: 0 5px;
}

.dropdown-menu {
	padding: 0;
	margin: 0;
}